<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <nav class="mt-4" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {{ 'disabled' if current_page == 1 }}"><a class="page-link" href="index{{ current_page - 1 }}.html">Назад</a></li>
          
          {% for page in range(1, pages_count + 1) %}
            <li class="page-item {{ 'active' if current_page == page }}"><a class="page-link" href="index{{ page }}.html">{{ page }}</a></li>
          {% endfor %}
          
          <li class="page-item {{ 'disabled' if current_page == pages_count }}"><a class="page-link" href="index{{ current_page + 1 }}.html">Вперед</a></li>
        </ul>
      </nav>

      <div class="row">
        {% for book in books %}
          <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{ book.img_src }}" class="card-img" alt="{{ book.title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book.book_title }}</h5>
                    <p class="card-text">{{ book.book_author }}</p>

                    <div class="badges mb-3">
                      {% for genre in book.genres %}
                        <span class="badge badge-light">{{ genre }}</span>
                      {% endfor %}
                    </div>

                    <a target="_blank" href="../{{ book.book_path }}">Читать</a>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>